.wrapper{
    width: 90%;
    margin: auto;
    min-height: 87vh;
    display: flex;
    text-align: center;
    gap: 20px;
}

.wrapper h2{
    font-size: 2rem;
    color: white;
}

.wrapper1{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

@media (max-width: 600px) {
    .wrapper{
        flex-direction: column;
        width: 95%; 
    }
    .wrapper h2{
        text-align: left;
       
    }
  }
  
  @media (min-width: 601px) and (max-width: 768px) {
    /* Styles for small tablets */
  }